<h1>Все товары</h1>
<%= link_to 'Создать новый товар', new_item_path %>
<p>
  Сортировка:
  <%= link_to "Новые сверху", items_path(order: "desc") %> |
  <%= link_to "Старые сверху", items_path(order: "asc") %>
</p>
<ul>
  <% @items.each do |i| %>
    <li><%= link_to i.name, i %></li>
  <% end %>
</ul>
<%= will_paginate @items %>